.libs
autom4te.cache
build
include
modules
.deps
Makefile
Makefile.fragments
Makefile.global
Makefile.objects
acinclude.m4
aclocal.m4
config.guess
config.h
config.h.in
config.log
config.m4
config.nice
config.status
config.sub
configure
configure.in
install-sh
libtool
ltmain.sh
missing
mkinstalldirs
php_sample.c
php_sample.h
php_sample.lo
run-tests.php
sample.la
